/* Overlay style */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(55,194,254,0.9);*/
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(29, 145, 254) 0%, rgb(55, 195, 254) 100%) repeat scroll 0% 0% / auto padding-box border-box;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 3px;
  top: 12px;
  overflow: hidden;
  border: none;
  background: url(../images/cross-b9859ee4.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 66%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li:nth-child(1) {
  text-align: right;
  display: block;
  height: 2%;
  /*height: calc(100% / 5);*/
  min-height: 65px;
}

.overlay ul li {
  text-align: right;
  display: block;
  height: 14%;
  /*height: calc(100% / 5);*/
  min-height: 54px;
}

.overlay ul li a {
    font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
  text-align: right;
  font-size: 2.5em;
  color:white;
/*  font-family:
  font-weight: 300;
  display: block;
  color: #fff;*/
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1;
}

/* Effects */
.overlay-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-menu.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-menu nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-menu nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-menu.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-menu.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}
