/* Pop */

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu-big-canvas a {
  color: white;
}
.menu-big-canvas a:hover {
  color: #130f30;
}

.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.panel_bottom:hover .pop, .panel_bottom:focus .pop, .panel_bottom:active .pop {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*end pop*/

/*logo*/
.container-logo {
  top:10px;
  position: absolute;
  width:90px;
  height:90px;
}
.cuadrado {
  position: absolute;
  width:100%;
  height:100%;
  border: 2px solid #36C2FE;
  background: #36C2FE;
}

.circulo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #36C2FE;
  background: white;
}

.triangle-up {
    position: absolute;
    top:0.81%;
    left:0.8%;
    width: 100%;
    height: 75%;
    /*height cn conflicto*/
    padding-left:50%;
    padding-bottom: 50%;
    overflow: hidden;
}

.triangle-up div {
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 885px solid #36C2FE;
}

.huevo {
   position:absolute;
   left: 33%;
   top: 23%;
   display:block;
   width: 35%;
   height: 50%;
   background-color: white;
   border-radius: 50%  50%  50%  50%  / 50%   50%   50%  50%;
}
/*logo end*/
@font-face {
  font-family: 'NovecentowideLightBold';
  src: url('../assets/fonts/Novecentowide-DemiBold-webfont.eot');
  src: url('../assets/fonts/Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Novecentowide-DemiBold-webfont.woff') format('woff'),
       url('../assets/fonts/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
       url('../assets/fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'TisaPro';
  src: url('TisaPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('TisaPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('TisaPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('TisaPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('TisaPro-Regular.svg#1c75379f9eaf2b315da3fa7da3f76cdf') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
} */



p {
  font-family: Verdana;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h5{
  font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  font-size: 3.6em;
  padding: 20px;
}

h4 {
  font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
  text-align: right;
  font-size: 1.4em;
  color:white;
}


h1#non_responsive_headline, h1#responsive_headline {
    color: white;
}


.fondoColoradoAzul {
   background: rgba(0, 0, 0, 0) linear-gradient(rgb(29, 145, 254) 0%, rgb(55, 195, 254) 100%) repeat scroll 0% 0% / auto padding-box border-box;
}

.fondoColoradoHero {
      background: rgba(0, 0, 0, 0) url(../images/front_colorado_hero-compressor.png) no-repeat scroll 50% 50% / cover padding-box border-box;
}

.fondoMapa {
      background: rgba(0, 0, 0, 0) url(../images/mapa_front.png) no-repeat scroll 50% 50% / cover padding-box border-box;
}

.fondoDiesel {
      background: rgba(0, 0, 0, 0) url(../images/front_diesel.png) no-repeat scroll 50% 50% / cover padding-box border-box;
}

.fondoMapbox {
      background: rgba(0, 0, 0, 0) url(../images/mapbox_cover.png) no-repeat scroll 50% 50% / cover padding-box border-box;
}

.bctop {
position: relative;
top: -13px !important;
}

.row.img_header {
height: 0px;
position: relative;
/* margin-top: 30px; */
}


.imagenes {
  max-width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:90px;
  margin-bottom:40px;
}

.two-iphones {
  max-width: 40%;
}

.panel {
  margin-top:100px;
}

.breadcrumbs {
  position: relative;
  top:35px;
}

.background-border {
  background:none;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mapa, .colorado, .gap, .openbox {
  padding-top: 1px;
  background:black;
}

.panel {
  border-color: whitesmoke;
  position: relative;
  top: -80px;
  background: #FFF;
  padding: 1.25rem 1.25rem 0.20rem 1.25rem;
}

.panel_bottom {
  position: relative;
  top: 30px;
  background: #36C2FE !important;
  padding: 3.25rem 0;
  margin-bottom:160px;
}


.subir {
  width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 20px 15px;
border-color: transparent transparent #ffffff transparent;
   }

.centered {
  position: relative;
  width: 30px;
  margin: 0 auto;
}

.panel_bottom p {
text-align: center;
color:white;
  font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2em;
}

.breadcrumbs {
  background-color: #FFF;
  border-color: black;
  border-radius: 0px;
}
.qrcode  {
  margin-left:10px;
  max-width: 59px;
  min-width:59px;
  position: relative;
  top:2px;
}

.fondoColorado {
  background-image: url('../img/front_colorado.jpg');
  background-size: cover;

/*  background-image: url('img/zwartevilt.png');
*/
}

.button {
  margin-top:23px;
  margin-left:3px;
  border-bottom: 6px solid #2c9ac8;
  background-color: #37C2FE;
}

.row {
  max-width: 59.5em;
}

.transparente {
  background: rgba(255, 255, 255, 0.0);
}

ul {
 margin-left: 0rem;
}
.process {
  padding: 0.5rem;
}

ul.process li {
  background:none;
  border: 1px #fff solid;
  float:right;
  margin-right:10px;
  padding: 6px;
  margin:9px 9px 0px 0px
;
  color: white;
}

h1#responsive_headline {
display: none;
}

/*inicio edits que se van al fondo */

li strong {
color: white;
font-weight: 100;
letter-spacing: 1px;
font-style: italic;
/*web color is midnightblue*/
}

.fixTop {
  margin-top:-60px;
}

.header-top {
width: 100%;
height: 100%;
background: transparent;
height: 100px;
}

.header-left {
  float:left;
  width:30%;
}

.header-right {
  float:right;
  width:70%;
  text-align: right;
  margin-top:2px;
}

/*fin edits*/

.menu-small-canvas {
display:none;
}

.panel_bottom {
  position: relative;
  top: 95px;
  background: #36C2FE !important;
  padding: 3.25rem 0;
  margin-bottom:140px;
}



@media only screen and (max-width: 40em) {


.panel_bottom {
  position: relative;
  top: 0px;
  background: #36C2FE !important;
  padding: 3.25rem 0;
  margin-bottom:17px;
}

.menu-small-canvas {
 display:block ;
}

.menu-small-canvas img {
  width: 2em;
  fill: white;
}

  .menu-big-canvas {
    display:none;
  }

  .header-right {
    padding-top:17px;
    /*background: green;*/
    height: 40px;
  }

.header-top {
height:40px;
}


  .container-logo {
    top:10px;
    position: absolute;
    width:40px;
    height:40px;
  }


  li strong {
font-weight: 300;
letter-spacing: 0.1em;
font-style: italic;
font-size: 1em;
color:white;
/*web color is midnightblue*/
}
  .qrcode {
    display:none;
  }

  .fondoColoradoHero, .fondoColoradoAzul
.fondoMapa,
.fondoDiesel,
.fondoMapbox {
      background:none;
}

.fixTop {
    margin-top:0px;
  }

  .marginTop {
    margin-top:35px;
  }

  .marginTopIpad {
    margin-top:87px;
  }
  .imagenes {
    margin-top:0px;
    max-width:95%;
  }

  h1,h2,h3,h4,h5{
    font-size: 3em;
    padding:10px;
  }

  h4 {
    display:none;
  font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
  text-align: right;
  font-size: 1.1em;
  color:white;
  padding:0px;
}

  h1#responsive_headline {
    display: inline-block;
  }

  h1#non_responsive_headline {
    display: none;
  }

  ul {
    font-size: 12px;
  }

  .button {
    width:100%;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {

  h1#responsive_headline {
display: none;
}
    .imagenes {
      max-width:45%;
    }

    .ipad {
      max-width:55%;
    }

    .two-iphones {
      max-width: 32%;
    }
  }
  /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
